.detail{
    width: 100%;
    min-height: calc(100%-400px);
    /* background: pink; */
    float: left;
    padding: 20px 40px;
    color: #fff;
    padding-top: 100px;
}

.rating-container {
    text-align: center;
    font-family: Arial, sans-serif;
}

.star-rating {
    font-size: 15px;
    display: inline-block;
    /* padding: 5px; */
    /* margin: 5px; */
}

.star-rating i {
    color: #ddd;
}

.star-rating .current-rating ~ i {
    color: gold;
}

p {
    font-size: 15px;
    margin-top: 10px;
}