.item{
    width: 250px;
    height: 173px;
    background: rgb(16, 16, 100);
    float: left;
    margin: 5px;
    flex: 0 0 auto;
    position: relative;
    background-size: cover;
}

.item_title{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, rgb(38, 30, 145), rgb(52, 55, 58));
    color: white;
    padding: 6px;
    box-sizing: border-box;
}



